@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  float: left;
  }

.title{
    font-family: 'Playfair Display';
    font-size: 100px;
    font-weight: 700;
    color: #09159B;
    position:fixed;
    top:15vh;
    left:-5vw;
  }

body{
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#container{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: left;
}
.r{
  height: 100px;
  width: 50px;
}
