@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

html{}

  body {
  	width: 100vh;
  	height: 90vh;
  	color: #fff;
  	background: linear-gradient(-45deg, #001354, #09159B, #6010D1,#2E00C0);
  	background-size: 400% 400%;
  	-webkit-animation: Gradient 15s ease infinite alternate;
  	-moz-animation: Gradient 15s ease infinite alternate;
  	animation: Gradient 15s ease infinite alternate;
  }

  @-webkit-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @-moz-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

.altodx{
  position: fixed;
  top:10%;
  right:10%;
  transform: translate(0%,-10%);
}
.altosx{
  font-family: "Karla";
  font-weight: 700;
  position: fixed;
  top:10%;
  left:10%;
  transform: translate(0%,+50%);
  font-size: 40px;
  text-align: left;
}
.nav{
    list-style:none;
    text-align:right;
    overflow: hidden;
    font-family: 'Karla';
    font-size: 40px;
    font-weight: 700;
}



.effect-1 a {
	color: #001354;
	font-weight: 700;
	text-shadow: none;
  text-decoration: none;
}

.effect-1 a::before {
  color: white;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.effect-1 a:hover::before,
.effect-1 a:focus::before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
